In [2]:
import pandas_datareader.data as web

In [3]:
import datetime

In [4]:
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2017,1,1)

In [6]:
facebook = web.DataReader('FB', 'yahoo', start, end) # instead of google I used yahoo

In [8]:
facebook.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-01-02  78.930000  77.699997  78.580002  78.449997  18177500  78.449997
2015-01-05  79.250000  76.860001  77.980003  77.190002  26452200  77.190002
2015-01-06  77.589996  75.360001  77.230003  76.150002  27399300  76.150002
2015-01-07  77.360001  75.820000  76.760002  76.150002  22045300  76.150002
2015-01-08  78.230003  76.080002  76.739998  78.180000  23961000  78.180000

In [12]:
#from pandas_datareader.data import Options

In [13]:
#fb_options = Options('FB', 'google')